<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Appodeal.ANE.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Appodeal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>220757DB1C07525B00F515AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220757FE1C07525B00F515AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220758011C07525B00F515AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>220758231C0753C500F515AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
